<h2 class="text-center pb-3">Panel del administrador</h2>

    <!-- Nav vertical panel de admin -->
<ul class="nav nav-tabs navbar-dark text-center" id="myTab" role="tablist">

  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Ordenes</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Administradores</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Usuarios</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="false">Productos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="instance-tab" data-toggle="tab" href="#instance" role="tab" aria-controls="instance" aria-selected="false">Stock</a>
  </li>
</ul>

  <!-- Content del admin -->
<div class="tab-content page-content" id="myTabContent">

  <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
    ...
  </div>

  <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
    <%= render 'home/adminstable' %>
  </div>

  <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
  <%= render 'home/userstable' %>
  </div>

  <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
  <%= render 'home/producttable'%>
  </div>

  <div class="tab-pane fade" id="instance" role="tabpanel" aria-labelledby="instance-tab">
  <%= render 'home/instancetable'%>
  </div>

</div>


