<div class="img-banner">
</div>

<div class="contacto">
  <div class="container">
    <h2 class="titulo-somos">Quienes somos?</h2>
    <h6 class="mt-2 text-somos">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h6> 
  </div>  
</div>

<div>
  <div class="container">
    <div class="row">
      <h2>Decora tu estudio</h2>
      <div class="foto-1">
    </div>
  </div>  

  <div class="container">
    <div class="row">
      <h2>Decora tu dormitorio</h2>
      <div class="foto-2">
    </div>
  </div> 

  <div class="container">
    <div class="row">
      <h2>Decora tu living</h2>
      <div class="foto-2">
    </div>
  </div> 
</div>