// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

.nav-home {
  min-height: 2rem;
  background-color: #6F777A;
  color: white;
}

.title-center{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  margin-left: 1.5rem;
}

.navbar-toggler{
  width: 3rem;
  height: 2rem;
}

.navbar-toggler-icon{
 width: 1.5rem;
 margin-top: -0.2rem;
}

.dropdown-right-align{
  font-size: 0.6rem;
  margin-right: -0.5rem;
}






// Carrusel 

.carrusel-home{
  margin-top: -2.65rem;
}

.contacto{
  background-color: #BF7160;
  color: white;
  padding: 3rem 4rem;
}

// Section images home

.img1-home{
  width: 100%;
} 




//@media (min-width: 768px) {

//}

@media (min-width: 992px) {

  // Nav configuration 

  .nav-home {
    height: 3rem;
    background-color: #6F777A;
    color: white;
  }

  .title-center{
    font-size: 2rem;
    margin-right: 17rem;
  }

  .dropdown-right-align{
    margin-right: 1rem;
    font-size: 1rem;
  }



  // Render products admin

  .margin-table-admin {
  }

  .contacto{
    background-color: #BF7160;
    color: white;
    padding: 3rem 6rem;
  }

  .titulo-somos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 2rem;
  }

  .text-somos{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1rem;
  }

}  

@media (min-width: 1200px) {

  .title-center{
    font-size: 2rem;
    margin-right: 28rem;
  } 

}