// Place all the styles related to the ProductInstances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

